.section {
  padding: 160px 0;
}


.rowLeft {
  gap: 35px;
}

.redLine {
  width: 94px;
  height: 7px;
  background-color: var(--color-accent-orange);
}

.description {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-secondary-gray);
  max-width: 400px;
}

.link {
    color: var(--color-accent-green);
}

.link svg {
  transition: transform 0.2s ease;
}

.link:hover svg {
  transform: translateX(5px);
}